/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 10%; */
}
/* header styles */
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.heading{
    font-size: 24px;
    padding-left: 30px;
}
.nav-bar{
    display: flex;
}
.nav-bar li{
    list-style: none;
    padding: 0 10px;
}
.nav-bar li a{
    text-decoration: none;
    color: black;
}
/* banner styles */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.banner-left h1{
    padding-top: 20px;
    font-size: 50px;
}
.banner-left p{
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}
.primary-button{
    border: 0;
    outline: 0;
    padding: 10px 24px;
    border-radius: 40px;
    font-size: 16px;
    background-color: #E02C6D;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.primary-button:hover{
    animation: glow 2s linear infinite;
}
@keyframes glow{
    0% {   
        box-shadow: 0 0 20px 5px rgba(201, 117, 173, 0.7);
    }
    25% {   
        box-shadow: 0 0 40px 15px rgba(211, 62, 112, 0.8);
    }
    50%{
        box-shadow: 0 0 40px 15px #e0437d;
    }
    75% {
        box-shadow: 0 0 20px 5px rgba(221, 85, 169, 0.8);
    }
    100%{
        box-shadow: 0 0 20px 5px rgba(216, 127, 169, 0.7);
    }
}
.primary-button:active{
    background-color: white;
    color: #E02C6D; 
}
.banner-right img{
     width: 80%;
     padding-left: 10%;
}
/* collection styles */
.section-title{
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    padding: 30px 0;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 0 15px;
}
.product{
    height: 476px;
    width: 330px;
    box-shadow: 0 0 40px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.product-photo img{
    width: 300px;
    height: 256px;
    padding: 15px;
}
.product-details{
    padding:0 15px;
} 
.product-name{
    font-size: 28px;
    font-weight: 500;
}
.product-price{
    font-size: 24px;
}
.fa-star, .fa-star-half-alt{
    font-size: 11px;
    color: #FB8200;
}
.ratings{
    font-size: 14px;
    color: #5E6366;
    font-weight: 700;
}
.product-info{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    size: 14px;
    color:#787885
}
.secondary-button{
    border: 0;
    outline: 0;
    display: block;
    padding: 50px;
    margin-left:auto;
    border-radius: 40px;
    font-size: 16px;
    color: #E02C6D;
    background-color:transparent;
    font-weight: 700;
}
/* newsletter styles */
.newsletter-box{
    padding-left: 20px;
}
.newsletter-box p{
    font-size: 28px;
}
.email-box{
    margin: 20px auto;
}
.email{
    border:2px solid #E02C6D;
    outline: none;
    font-size: 16px;
    padding:10px;
    border-radius: 40px;
}
.blinking-effect{
    font-size: 40px;
    animation: blinking 3s linear infinite;
}
@keyframes blinking{
    0%{
        color: #b17ad1;
    }
    40%{
        color:rgb(216, 126, 159);
    }
    70%{
        color: #E02C6D;
    }
    100%{
        color: #8947af;
    }
}
/* footer styles */
footer{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: #0A0826;
} 
.footer-container{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fab{
    font-size: 16px;
    color: white;
}
.footer-icon .icon{
    background-color: rgb(53, 50, 50);
    border-radius: 50%;
    padding: 10px;
    margin-top: 16px;
    margin-right: 12px;
}
/* Media Queries */
@media only screen and (max-width:668px) {
    .container{
        width: 100%;
    }
    nav{
        justify-content: center;
    }
    .menu{
        display: none;
    }
    .banner{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .banner-left{
        align-items: center;
        margin-bottom: 20px;
    }
    .banner-left h1{
        font-size: 30px;
        text-align: center;
    }
    .collection{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .newsletter-box p{
        font-size: 16px;
    }
    .blinking-effect{
        font-size: 20px;
    }
}
@media only screen and (min-width:668px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    nav{
        justify-content: center;
        align-items: center;
    }
    .menu{
        display: none;
    }
    .banner{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .banner-left{
        align-items: center;
        margin-bottom: 20px;
    }
    .banner-left h1{
        font-size: 38px;
        text-align: center;
    }
    .collection{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .newsletter-box p{
        font-size: 18px;
    }
    .blinking-effect{
        font-size: 22px;
    }
}
